{% extends "base.html" %}
{% load static %}
{% block title %}{{block.super}}Strona główna{% endblock %}


{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}


{% block content %}


<div class="py-5 text-center block block-1 full-page">
    <h1 class="py-5">Witaj na stronie Migam! </h1>

    {% if user.is_learner %}
    <p class="lead">Cieszymy się bardzo, że jesteś z nami, jeśli chcesz zacząć naukę kliknij w Listę lekcji!</p>
    <h2>
        <a class="btn btn-primary my-5 px-4 py-2" href="{% url 'list_lesson' %}">
            Lista lekcji ➤
        </a></h2>

    {% elif not user.is_authenticated %}
    <p class="lead">Jeśli chcesz zacząć naukę zaloguj się lub jeżeli nie masz konta <a class="text-primary" href="{% url 'register' %}">załóż konto!</a></p>
    <h2>
        <a class="btn btn-primary my-5 px-4 py-2" href="{% url 'login' %}">
            Zaloguj się ➤
        </a></h2>
    {% endif %}

    {% if user.is_teacher %}
    <p class="lead">Cieszymy się bardzo, że jesteś z nami, jeśli chcesz dodać lekcje kliknij w Dodaj lekcję!</p>
    <h2>
        <a class="btn btn-primary my-5 px-4 py-2" href="{% url 'create_lesson' %}">
            Dodaj lekcje ➤
        </a>
    </h2>
    {% endif %}

    {% if user.is_superuser %}
    <p class="lead">Cieszymy się bardzo, że jesteś z nami, jeśli chcesz przejrzeć lekcje kliknij w zarządzaj
        lekcjami!</p>
    <h2>
        <a class="btn btn-primary my-5 px-4 py-2" href="{% url 'list_lesson' %}">
            Zarządzaj lekcjami ➤
        </a></h2>
    {% endif %}

</div>
<section id="contact" class="contact mb-4 p-5 m-5">

    <h2 class="h2-responsive my-4">
        Skontaktuj się z nami
    </h2>
    <p class="text-center w-responsive mx-auto mb-5">
        Masz jakieś pytania lub uwagi, albo chcesz dołączyć do naszego grona nauczycieli? Napisz na adres:
        monika-nowakowska@outlook.com
    </p>

</section>


{% endblock %}