{% extends "base.html" %}
{% load static %}
{% block title %}{{block.super}}Strona główna{% endblock %}

{% block content %}
{% if user.is_authenticated %}



<link rel="stylesheet" href=" {% static "css/style.css" %}">
<body>

  <div  class="py-5 text-center block block-1 full-page">

    <h1 class="py-5">Witaj na stronie Migam! </h1>
    {% if user.is_learner %}
    <p class="lead">Cieszymy się bardzo, że jesteś z nami, jeśli chcesz zacząć naukę kliknij w Listę lekcji!</p>
    <h2>

    <a class="btn btn-primary my-5 px-4 py-2" href="{% url 'list_lesson' %}">
      Lista lekcji ➤
      </a></h2>
    {% endif %}
    {% if user.is_teacher %}
        <p class="lead">Cieszymy się bardzo, że jesteś z nami, jeśli chcesz dodać lekcje kliknij w Dodaj lekcję!</p>
    <h2>

    <a class="btn btn-primary my-5 px-4 py-2" href="{% url 'create_lesson' %}">
      Dodaj lekcje ➤
      </a>
    </h2>
    {% endif %}
    {% if user.is_superuser %}
            <p class="lead">Cieszymy się bardzo, że jesteś z nami, jeśli chcesz przejrzeć lekcje kliknij w zarządzaj lekcjami!</p>
    <h2>

    <a class="btn btn-primary my-5 px-4 py-2" href="{% url 'list_lesson' %}">
      Zarządzaj lekcjami ➤
      </a></h2>
    {% endif %}

  </div>
  <section id="contact" class="contact mb-4 p-5 m-5">

    <h2 class="h2-responsive my-4">
      Skontaktuj się z nami
    </h2>
    <p class="text-center w-responsive mx-auto mb-5">
    Masz jakieś pytania lub uwagi, albo chcesz dołączyć do naszego grona nauczycieli? Napisz na adres: monika-nowakowska@outlook.com
    </p>

  </section>





<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

{% endif %}

{% endblock %}