{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Migam</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 me-auto">

                {% if user.is_authenticated %}

                {% if user.is_teacher or user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'create_test' %}">Stwórz pytanie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'test_list' %}">Lista pytań</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'create_lesson' %}">Stwórz lekcje</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'list_lesson' %}">Lista lekcji</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'solve_test_list' %}">Testy do lekcji</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'show_profile' %}">Profil
                        użytkownika</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active navbar-right" aria-current="page" href="{% url 'logout' %}">Wyloguj</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav mb-2 mb-lg-0 me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Zaloguj się</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'register' %}">Zarejestruj się</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>

</nav>
