{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{{block.super}}Logowanie{% endblock %}
{% block content %}

<div class="container p-5">
  {% if not user.is_authenticated %}
  <div class="content-section p-5" style="width:50vh; float:center; margin:0 auto; border: 8px groove #207CB8; border-radius: 40px 40px 40px 40px;">

    <form class="user" method="POST" class="bootstrap4">
      <p class="lead border-bottom mb-4 fw-light border-primary" style="font-size: 2rem;">Zaloguj się</p>
      <fieldset class="form-group text-center">
        {% csrf_token %}
        <div class="fw-lighter" style="font-size: 1rem;">
          {{ form | crispy }}
        </div>
      </fieldset>
      <div class="text-end mt-4">
      <button class="btn btn-primary btn-block text-white btn-user fw-light" type="submit">Zaloguj</button>
      </div>
    </form>
    <div class="pt-4">
      <p class="border-top py-1 border-primary">
        <small class="text-muted">

        </small>
      </p>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}