{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load embed_video_tags %}
{% block title %}{{block.super}}Create_Lesson{% endblock %}

{% block content %}


<div class="container">
    <div class="py-5">
        {% if user.is_superuser or user.is_teacher %}
        {% if profile_exists %}
        <p class="fs-1 fw-light mt-2 me-3 mb-5"><!-- title -->
            Stwórz lekcję
        </p>
        <form method="POST" class="bootstrap4" enctype="multipart/form-data">
            <fieldset class="form-group">
                {% csrf_token %}
                {{ form|crispy }}
            </fieldset>
            <button class="btn btn-primary btn-block text-white btn-user col-md-3 mt-3" type="submit">Dodaj Lekcje
            </button>
        </form>
    </div>
</div>
{% else %}
<span class="fw-light" style="font-size:3vh">Utwórz profil jeśli chcesz dodac lekcję. </span><a
        href="{% url 'create_profile' %}" class="fw-light" style="font-size:3vh">Kliknij
    tutaj!</a>
{% endif %}
{% else %}
<h3 class="text-danger">Nie posiadasz uprawnień, aby być na tej stronie!</h3>
{% endif %}
{% endblock %}
