{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load embed_video_tags %}
{% block title %}{{block.super}}Stwórz test{% endblock %}

{% block content %}


<div class="container">
    <div class="py-5">
        {% if user.is_superuser or user.is_teacher %}
        <p class="fs-1 fw-light mt-2 me-3 mb-3"><!-- title -->
            Stwórz pytanie
        </p>
        <form method="POST" class="bootstrap4" enctype="multipart/form-data">
            <fieldset class="form-group">
                {% csrf_token %}
                {{ form|crispy }}
            </fieldset>
            <button class="btn btn-primary btn-block text-white btn-user col-md-3 mt-3" type="submit">Dodaj pytanie
            </button>
        </form>
    </div>
</div>
{% else %}
<h3 class="text-danger">Nie posiadasz uprawnień, aby być na tej stronie!</h3>
{% endif %}
{% endblock %}
