{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load embed_video_tags %}
{% block title %}{{block.super}}Lekcja {{ object.id }}{% endblock %}

{% block extra_head %}
<style>
html, body {
    height:100vh;
}

</style>
{% endblock %}

{% block content %}
<div class="container py-3">
    <div class="content-section py-5">

        <p class="fs-1 fw-light mt-3 ms-3 me-3 mb-1"><!-- title -->
            {{object.name}}
        </p>

        <div class="border-secondary border-bottom border-1 mb-3"></div> <!-- line -->

        <div style="height: 60vh"> <!-- video section -->
            {% video object.url as my_video %}
            {% video my_video '100% x 100%' %}
            {% endvideo %}
        </div>

        <div class="border-secondary border-bottom border-1 mt-3"></div> <!-- line -->

        <div class="fw-lighter font-start"><!-- description section -->
            <p class="fs-5 mt-3">
            <p class="fs-5 ms-3 mb-2">
                Opis lekcji:
            </p>
            {{object.description}}
            </p>
        </div>

        <div class="border-secondary border-bottom border-1 mt-3 mb-3"></div> <!-- line -->

        <div class="comments mt-1" style="width: 45%; float:left;"> <!-- left side of the page -->

            <p class="fs-4 ms-3 mb-2 fw-light">
                Dodaj komentarz
            </p>

            {% if profile_exists %} <!-- add comment feature -->
            <form method="POST" class="bootstrap4" enctype="multipart/form-data">{% csrf_token %}
                {{ new_comment_form }}
                <div class="mt-3">
                    <button class="btn btn-primary btn-block text-white btn-user col-md-2" type="submit">Wyślij</button>
                </div>
                {% elif user.is_authenticated %}
                <span class="fw-light" style="font-size:1.6vh">Utwórz profil jeśli chcesz dodawać komentarze. </span><a
                        href="{% url 'create_profile' %}" class="fw-light" style="font-size:1.6vh">Kliknij
                    tutaj!</a>
                {% else %}
                <span class="fw-light" style="font-size:1.6vh">Aby dodawać komentarze należy być zalogowanym. </span><a
                        href="{% url 'login' %}" class="fw-light" style="font-size:1.6vh">Kliknij
                    tutaj!</a>
                {% endif %}
            </form>

            <div class="border-secondary border-bottom border-1 mt-3 mb-3"></div> <!-- line -->

            <p class="fs-4 ms-3 mb-3 fw-light">
                Komentarze
            </p>


            {% for comment in comment_form %} <!-- comments feature -->
            {% for profile in profile_form %}
            {% if comment.owner_id == profile.user %}
            <table>
                <tr>
                    <td rowspan="2" class="pe-2">
                        <img src="{% get_media_prefix %}/{{ profile.profile_photo }}" width="75vh" height="75vh"/>
                    </td>
                    <td><span class="fw-light"
                              style="font-size:1.6vh">{{ profile.first_name }} {{ profile.last_name }} </span><span
                            class="fw-lighter"
                            style="font-size:1.6vh">{{ comment.create_date |date:'H:i d-m-Y' }}</span></td>
                </tr>
                <tr>
                    <td><span class="fw-light text-start" style="font-size:1.6vh">{{ comment.body }}</span></td>
                </tr>
            </table>
            <div class="border border-1 mt-3 mb-4"></div>
            {% endif %}
            {% endfor %}
            {% endfor %}


            {% if not comment_form %}
            <div class="fw-light" style="font-size:1.7vh">Nie dodano jeszcze żadnego komentarza.</div>
            {% endif %}

        </div>


        <div style="float:left" style="width:10%"></div> <!-- empty area between two sides -->

        <div class="comments mt-1" style="width: 45%; float:right"> <!-- right side of the page -->

            <p class="fs-4 mb-2 fw-light">
                Profil nauczyciela
            </p>

            <table class="mb-3"> <!-- Teacher profile -->
                <tr>
                    <td rowspan="2" class="pe-4">
                        <img src="{{ lesson_creator.profile_photo.url }}" width="125vh" height="125vh"/>
                    </td>
                    <td><span class="fw-light"
                              style="font-size:2.2vh">{{ lesson_creator.first_name }} {{ lesson_creator.last_name }} </span>
                    </td>
                </tr>
                {% if lesson_creator.email %}
                <tr>
                    <td><span class="fw-light text-start" style="font-size:2.2vh">{{ lesson_creator.email }}</span></td>
                </tr>
                {% endif %}
            </table>
            {% if lesson_creator.bio %}
            <div class="mb-2">O mnie:</div>
            <div class="text-start">{{ lesson_creator.bio }}</div>
            {% endif %}

            <div class="border-secondary border-bottom border-1 mt-3 mb-3"></div> <!-- line -->

            <p class="fs-4 mb-2 fw-light">
                Ćwiczenia do lekcji
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-book"
                     viewBox="0 0 18 16">
                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                </svg>
            </p>
            {% for test in list_test_form %}
            <div class="mb-2" style="font-size:1.8vh">
                <a class="text-secondary" href="{% url 'show_test' test.pk %}">{{ test.name }}</a>
            </div>
            {% endfor %}

            {% if not list_test_form %}
            <div class="fw-light" style="font-size:1.7vh">Nie dodano jeszcze żadnego pytania do tej lekcji.</div>
            {% endif %}


        </div>


    </div>
</div>

{% endblock %}
