{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load embed_video_tags %}
{% block title %}{{block.super}}Lista testów{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="container">
    <div class="py-5 fs-4">
        <div class="row border-bottom mb-4 pt-5">
            <div class="fw-light col-md-6" style="font-size: 2rem;">Lista testów</div>
        </div>
        <table class="table fw-light">
            <thead class="thead-light">
            <tr class="text-center">
                <th scope="col">Nazwa lekcji</th>
                <th scope="col">Ilość pytań</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for list in list_of_lists_of_questions %}
            {% if list %}
            <tr class="text-center align-middle">

                <td>
                    {{ list.first.lesson }}
                </td>

                <td>
                    {{ list.count }}
                </td>

                <th class="text-center" scope="row">
                    <a href="{% url 'solve_test' list.first.pk %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor"
                             class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
                            <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"/>
                        </svg>
                    </a>
                </th>
            </tr>
            </tbody>
            {% endif %}
            {% endfor %}

        </table>
        {% include 'paging.html' %}
    </div>
</div>
{% endif %}


{% endblock %}