{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load embed_video_tags %}
{% block title %}{{block.super}}Lista lekcji{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% if user.is_superuser or user.is_teacher %}


<div class="container">
    <div class="py-5">
        <div class="row border-bottom mb-4 pt-5">
            <div class="lead col-md-6" style="font-size: 2rem;">Lista pytań</div>
        </div>
        <table class="table fw-light">
            <thead class="thead-light">
            <tr class="text-center">
                <th scope="col" width="5%">ID</th>
                <th scope="col" width="15%">Nazwa pytania</th>
                <th scope="col" width="26%">Nazwa lekcji</th>
                <th scope="col" width="10%">Dodana przez</th>
                <th scope="col" width="15%">Akcje</th>
            </tr>
            </thead>
            <tbody>
            {% for item in object_list %}
            <tr class="text-center align-middle">

                <th class="text-center" scope="row">
                    <a href="{% url 'show_test' item.pk %}">{{ item.pk }}</a>
                </th>

                <td>
                    {{ item.name }}
                </td>

                <td>
                    {{ item.lesson }}
                </td>

                <td>
                    {{ item.owner }}
                </td>

                <td>
                    <table class="table align-middle">
                        <td class="pt-4" style="border: none;">
                            <a href="{% url 'update_test' item.pk %}">
                                <button type="button" class="btn btn-primary">Edytuj</button>
                            </a>
                        </td>
                        <td class="pt-4" style="border: none;">

                            <form action="{% url 'delete_test' item.pk %}" method="post" style="display: inline;" onsubmit="window.mytest()">
                                {% csrf_token %}
                                <input type="hidden"/>
                                <button type="submit" class="btn btn-danger">Usuń</button>
                            </form>
                            <script type="text/javascript">
                                window.mytest = function() { var isValid = confirm('Czy jesteś tego pewien ?');if (!isValid) { event.preventDefault();  alert("Anulowano usuwanie.");}}
                            </script>

                        </td>
                    </table>

                </td>

            </tr>

            </tbody>
            {% endfor %}
        </table>
        {% include 'paging.html' %}
    </div>
</div>
{% endif %}
{% endif %}
{% endblock %}